@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.header__right{
    background-image: url(../assets/imagen\ fondo\ new.jpg);
    height: 100vh;
}
.container-fluid{
    color: black;
    text-decoration: dashed;
}
.hero_2 {
    background-color: rgb(78, 108, 108);
    height: 100vh;
    font-weight: 20px;
}