@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: rgb(6, 4, 4);
}
body {
    background-color: rgb(199, 202, 208);
}
.hero{
    height: 100vx;
    background-color: rgb(199, 202, 208);
}
.hero__header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-inline: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    font-weight: bold;
    }
.hero__header .logo {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.header__right p {
    display: flex;
    justify-content: end;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.header__right .menu {
    list-style: none;
    display: flex;
    align-items: flex-end;
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    gap: 2rem;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.hero__text {
    display: flex;
    font-size: 13px;
    justify-content: center;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
.hero__img  {
display: flex;
justify-content: center;
align-items: center;
padding-block: 2rem ;
    
}
.hero__img  img {
max-width: 100%;

}
.grid {
    padding: 6rem;
    display: grid;
    grid-template-columns:repeat(4fr, 1fr);
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item2 item3 item4";  
    gap: 1rem;
    background-color: rgb(199, 202, 208);

}
.grid__item1 {
        grid-area: item1;
        background-image: url("../assets/item1.jpg");
        height: 200px;
 }
 .grid__item {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center center center;
    padding: 1rem;
  }
  .grid__item h4,
  .grid__item h5 {
    color:rgb(4, 6, 34);
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
.grid__item2 {
        grid-area: item2;
        background-image: url("../assets/item2.jpg");
        height: 200px;
    }
.grid__item3 {
    height: 200px;
    background-image: url("../assets/item3.jpg");
}
.grid__item4 {
        grid-area: item4;
        height: 200px;
        background-image: url("../assets/item4.jpg");
}

@media screen and (max-width :480px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows:repeat (6, 1fr);
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item2 item3 item4";

    }
    
}

@media screen and (max-width :480px) {
    }
